.animal-card-container {
  /* свойства для flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
 /* обычные свойства */
  min-width: 300px;
  min-height: 400px;
  padding: 30px;
  background-color: rgb(241, 232, 155);
  border-radius: 10px;
  font-size: 24px;
}

.animal-card-container > img {
  width: 100px;
}